name: guess_karo
description: A kid-friendly charades-style game with tilt controls.
version: 0.1.0+1
publish_to: 'none'

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: '>=3.16.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  go_router: ^14.2.0
  sensors_plus: ^5.0.2
  shared_preferences: ^2.2.3
  audioplayers: ^6.0.0
  provider: ^6.1.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/words/
